.tile {
  width: 100%;
  height: 100%;
  background: #e4c071;
  opacity: 1;
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;

  &.empty {
    background: #0000;
  }

  &.selectable {
    cursor: pointer;
  }

  &.empty.selectable:hover {
    background: #0002;
  }

  &.real.selectable:hover {
    transform: scale(1.2) !important;
    box-shadow: 0px 2px 2px #0005;
    z-index: 10;
    position: relative;
  }

  &.dock {
    .character {
      text-align: center;
      padding-top: 7px;
      font-size: 20px;
    }

    .value {
      font-size: 12px;
      margin: -4px;
    }
  }

  .character {
    width: 100%;
    text-align: left;
    padding: 1px 2px;
    font-size: 14px;
  }

  .value {
    text-align: right;
    width: 100%;
    font-size: 8px;
    margin: -7px -1px;
  }
}


@media only screen and (min-width: 400px) {
  .tile {
    .character {
      text-align: center;
      padding-top: 4px;
      font-size: 14px;
    }

    .value {
      font-size: 8px;
      margin: -6px -4px;
    }
  }
}


@media only screen and (min-width: 500px) {

  .tile {
    .character {
      padding-top: 6px;
      font-size: 18px;
    }

    .value {
      font-size: 11px;
      margin: -8px -4px;
    }

  }
}

@media only screen and (min-width: 600px) {
  .tile {
    .character {
      padding-top: 7px;
      font-size: 20px;
    }

    .value {
      font-size: 12px;
      margin: -4px;
    }
  }
}