.tile {
  width: 100%;
  height: 100%;
  background: #efef82;
  opacity: 1;
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;
  border: 2px solid #000;
  box-shadow: 1px 1px 0 #000;
  transition: transform 0.2s;

  &.empty {
    background: #0000;
    border: 0;
    box-shadow: 0 0 0;
    transform: scale(0.8) !important;

    .dot {
      width: 8px;
      height: 8px;
      background: #0002;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
    }
  }

  .wordScore {
    position: absolute;
    background: #d53b3b;
    border-radius: 50%;
    padding: 2px 6px 3px;
    color: #fff;
    font-weight: bold;
    border: 2px solid #000;
    font-size: min(2.2vw, 14px);
    pointer-events: none;

    &.horizontal {
      left: 100%;
      top: 20%;
      transform: translate(-30%, -50%);
    }

    &.vertical {
      top: 100%;
      left: 20%;
      transform: translate(-50%, -30%);
    }
  }

  &.selectable {
    cursor: pointer;
  }

  &.empty.selectable:hover {
    background: #0002;

    .dot {
      background: #0000;
    }
  }

  &.real.selectable:hover {
    transform: scale(1.2) !important;
    box-shadow: 1px 1px 0 #000;
    z-index: 10;
    position: relative;
  }

  &.cluster {
    background: #acef82;

    &.doubled {
    background: #71e22d;
    }
  }

  &.error {
    background: #f09a75;
  }

  &.dock {

    &.empty {
      transform: scale(0.8) !important;
    }

    .dot {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }

    .character {
      font-size: 28px;
    }

    .value {
      font-size: 18px;
    }

  }

  .character {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: min(3.6vw, 24px);
    transform: translateY(-50%);
  }

  .value {
    position: absolute;
    text-align: right;
    font-size: min(2.2vw, 14px);
    top: 100%;
    left: 100%;
    transform: translate(-120%, -120%);
    color: #0008;

    &.doubled {
      color: #132c04;
      font-weight: bold;
      font-size: min(2.8vw, 16px);
    }
  }
}


@media only screen and (min-width: 500px) {
  .tile {
    border: 3px solid #000;

    .wordScore {
      border: 3px solid #000;
    }
  }
}

@media only screen and (min-width: 600px) {
  .tile {

    .wordScore {

      &.horizontal {
        top: 50%;
      }

      &.vertical {
        left: 50%;
      }
    }
  }
}