.tile {
  width: 100%;
  height: 100%;
  background: #efef82;
  opacity: 1;
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;
  border: 3px solid #000;
  box-shadow: 1px 1px 0 #000;

  &.empty {
    background: #0000;
    border: 0;
    box-shadow: 0 0 0;

    .dot {
      width: 8px;
      height: 8px;
      background: #0002;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
    }
  }

  .wordScore {
    position: absolute;
    background: #d53b3b;
    border-radius: 50%;
    padding: 2px 6px;
    color: #fff;
    font-weight: bold;
    border: 3px solid #000;
    font-size: 12px;

    &.horizontal {
      left: 100%;
      top: 20%;
      transform: translate(-30%, -50%);
    }

    &.vertical {
      top: 100%;
      left: 20%;
      transform: translate(-50%, -30%);
    }
  }

  &.selectable {
    cursor: pointer;
  }

  &.empty.selectable:hover {
    background: #0002;
    .dot {
      background: #0000;
    }
  }

  &.real.selectable:hover {
    transform: scale(1.2) !important;
    box-shadow: 1px 1px 0 #000;
    z-index: 10;
    position: relative;
  }

  &.cluster {
    background: #acef82;
  }

  &.error {
    background: #f09a75;
  }

  &.dock {
    transform: scale(1.2) !important;

    .dot {
      background-color: #0000;
    }
  }

  .character {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transform: translateY(-50%);
  }

  .value {
    position: absolute;
    text-align: right;
    font-size: 12px;
    top: 100%;
    left: 100%;
    transform: translate(-110%, -110%);
    color: #0008;
  }
}


@media only screen and (min-width: 400px) {
  .tile {
    .character {
      font-size: 22px;
    }

    .value {
      font-size: 14px;
    }
  }
}


@media only screen and (min-width: 500px) {
  .tile {
    .character {
      font-size: 24px;
    }

    .value {
      font-size: 14px;
    }

  }
}

@media only screen and (min-width: 600px) {
  .tile {

    .wordScore {
      font-size: 14px;
      &.horizontal {
        top: 50%;
      }
      &.vertical {
        left: 50%;
      }
    }

    .character {
      font-size: 28px;
    }

    .value {
      font-size: 16px;
    }
  }
}