.header {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .header-item {
    width: 50%;
    position: relative;
    top: 100%;
    height: fit-content;
    transform: translateY(-100%);
    padding: 15px 0;

    &.logo {
      padding: 0;

      img {
        height: 88px;
      }
    }

    &.button-holder {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
