.header {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .title {
    width: 50%;
    padding: 22px 0px;
    font-size: 38px;
    color: #6e0404;
    font-family: 'Ranchers', sans-serif;
  }

  .button-holder {
    width: 50%;
    display: flex;
    padding: 15px 0;
    flex-direction: row-reverse;
  }
}