.popup {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  pointer-events: none;
  filter: opacity(0);
  transition: filter 0.4s;
  background: #3e3334;
  color: #fff;
  border-radius: 3px;

  &.open {
    filter: opacity(1);
  }
}