.dock {
  width: 100%;
  height: 100%;
  display: flex;

  .dock-tile-holder {
    width: 120px;
    padding: 12px;

    .dock-tile {
      width: 60px;
      height: 60px;
      left: 50%;
      position: relative;
    }
  }

  .dock-buttons {
    display: flex;
    flex-direction: row-reverse;
    width: calc(100% - 120px);
    padding: 15px 0;
  }
}