.button {
  height: 52px;
  width: 82px;
  margin: 0 4px;
  border-radius: 3px;
  border: 3px solid #000;
  box-shadow: 1px 1px 0 #000;
  text-align: center;
  color: #FFF;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.2s;

  &.clickable {
    background: #9144c0;

    &:hover {
      background: #7e3aa8;
    }
  }

  &.disabled,
  &.clickable.disabled {
    background: #3f3434;
    cursor: default;
  }

  .icon {
    width: 100%;
    font-size: 22px;
    padding: 6px 0 2px;
  }

  .label {
    width: 100%;
    font-size: 12px;
    padding: 2px;
  }
}