.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 616px;

  .container-row {

    &.bun {
      height: 80px;
    }

    &.burger {
      height: calc(100% - 160px);
      max-height: 616px;
    }
  }
}