.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 616px;

  .container-row {

    &.bun {
      height: 80px;
    }

    &.burger {
      min-height: calc(100% - 160px); // min fill the screen
      height: 100vw; // default to how wide the screen is
      max-height: 616px; // max of 616
      border-top: 1px solid #0001;
      border-bottom: 1px solid #0001;
    }
  }
}